{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>LeetCode Problem Tracker</h1>
<div class="centered-container">
  <p>Navigate to:</p>
  <ul>
    <li><a href="{{ url_for('list_problems_html') }}">View Problems List</a></li>
    <li><a href="{{ url_for('show_problem_create_form') }}">Add a Problem</a></li>
    <li><a href="{{ url_for('list_categories_html') }}">View Categories</a></li>
    <li><a href="{{ url_for('show_category_form') }}">Add a Category</a></li>
    <li><a href="{{ url_for('list_approaches_html') }}">View Approaches</a></li>
    <li><a href="{{ url_for('show_approach_form') }}">Add an Approach</a></li>
  </ul>
</div>
{% endblock %}
