{% extends "base.html" %}

{% block content %}
<h1>Search Problems</h1>
<form 
    method="get" 
    action="{{ url_for('problem_search_handler') }}"
    class="form-container"
>
    <label for="leetcode_num">LeetCode Num</label>
    <input type="number" name="leetcode_num" id="leetcode_num" step="1">

    <label for="problem_name">Problem Name</label>
    <input type="text" name="problem_name" id="problem_name">

    <label for="diff_id">Difficulty</label>
    <select name="diff_id" id="diff_id">
        {% for diff in difficulties %}
            <option value="{{ diff.id }}">{{ diff.diff_level }}</option>
        {% endfor %}
        <option value="" selected>-- None --</option>
    </select>
    
    <label for="category_ids">Category</label>
    <select name="category_ids" id="category_ids" multiple>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>

    <label for="approach_id">Approach</label>
    <select name="approach_id" id="approach_id">
        {% for approach in approaches %}
            <option value="{{ approach.id }}">{{ approach.approach_name }}</option>
        {% endfor %}
        <option value="" selected>-- None --</option>
    </select>
    
    <button type="submit">Search</button>
</form>
{% endblock %}
