{% extends "base.html" %}

{% block content %}
<h1>Randomize Problems</h1>
<form 
    method="get" 
    action="{{ url_for('problem_randomize_handler') }}"
    class="form-container"
>
    <label for="diff_id">Difficulty</label>
    <select name="diff_id" id="diff_id">
        {% for diff in difficulties %}
            <option value="{{ diff.id }}">{{ diff.diff_level }}</option>
        {% endfor %}
    </select>
    
    <label for="category_ids">Category</label>
    <select name="category_ids" id="category_ids" multiple>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.category_name }}</option>
        {% endfor %}
    </select>

    <label for="limit">Limit</label>
    <input 
        type="number" 
        name="limit" 
        id="limit" 
        step="1"
        value="3" 
        min="1" 
        max="10"
    >

    <button type="submit">Submit</button>
</form>
{% endblock %}
