{% extends "base.html" %}

{% block title %}Problems List{% endblock %}

{% block content %}
<h1>Problems</h1>
<table>
    <thead>
        <tr>
            <th>Leetcode Num</th>
            <th>Name</th>
            <th>Description</th>
            <th>Difficulty</th>
            <th>Solution</th>
            <th>Categories</th>
            <th>Approach</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for problem in problems %}
        <tr>
            <td>{{ problem.leetcode_num }}</td>
            <td>{{ problem.problem_name }}</td>
            <td>{{ problem.problem_desc }}</td>
            <td>{{ problem.diff_level }}</td>
            <td>{{ problem.problem_solution }}</td>
            <td>
                {% for category in problem.categories %}
                    <span class="categories">{{ category.category_name }}</span>
                {% endfor %}
            </td>
            <td>{{ problem.approach_name }}</td>
            <td>
                <form 
                    method="post" 
                    action="{{ url_for('delete_problem_post', problem_id=problem.id) }}"
                >
                    <button type="submit">Delete</button>
                </form>
                <form 
                    method="get" 
                    action="{{ url_for('show_problem_edit_form', problem_id=problem.id) }}"
                >
                    <button type="submit">Edit</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
